<a href="https://colab.research.google.com/github/2403A51L03/DataMining/blob/main/Lab6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lab_6

Q1-Encoding methods--

1)label encoder

2)one hot encoder

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [ ]:
data={'Category':['A','B','C','D','A','B','C','D',]}
df=pd.DataFrame(data)

In [ ]:
print(df)

  Category
0        A
1        B
2        C
3        D
4        A
5        B
6        C
7        D

In [ ]:
label_encoder=LabelEncoder()
df['Label_Encoded']=label_encoder.fit_transform(df['Category'])

In [ ]:
print(df)

  Category  Label_Encoded
0        A              0
1        B              1
2        C              2
3        D              3
4        A              0
5        B              1
6        C              2
7        D              3

In [ ]:
one_hot_encoded=pd.get_dummies(df['Category'],prefix='Category')
print(one_hot_encoded)

   Category_A  Category_B  Category_C  Category_D
0        True       False       False       False
1       False        True       False       False
2       False       False        True       False
3       False       False       False        True
4        True       False       False       False
5       False        True       False       False
6       False       False        True       False
7       False       False       False        True

In [ ]:
df=pd.concat([df,one_hot_encoded],axis=1)
print(df)

  Category  Label_Encoded  Category_A  Category_B  Category_C  Category_D
0        A              0        True       False       False       False
1        B              1       False        True       False       False
2        C              2       False       False        True       False
3        D              3       False       False       False        True
4        A              0        True       False       False       False
5        B              1       False        True       False       False
6        C              2       False       False        True       False
7        D              3       False       False       False        True

Q-2

datetime library

calculated age from current year - DOB year

In [ ]:
from datetime import datetime

In [ ]:
data={'Name':['Sathwik','Sai Kumar'],'DOB':['2004-12-15','2004-09-15']}
df=pd.DataFrame(data)
print(df)

        Name         DOB
0    Sathwik  2004-12-15
1  Sai Kumar  2004-09-15

In [ ]:
df['DOB']=pd.to_datetime(df['DOB'])
print(df)

        Name        DOB
0    Sathwik 2004-12-15
1  Sai Kumar 2004-09-15

In [ ]:
current=datetime.now().year
df['Age']=current-df['DOB'].dt.year
print(df)

        Name        DOB  Age
0    Sathwik 2004-12-15   21
1  Sai Kumar 2004-09-15   21

Q-3

Groupby & pivot table

In [ ]:
data={'Category':['A','A','B','B','C'],'Value':[10,20,10,30,40]}
df=pd.DataFrame(data)
print(df)

  Category  Value
0        A     10
1        A     20
2        B     10
3        B     30
4        C     40

In [ ]:
grouped=df.groupby('Category').agg({'Value':['sum','mean']})
print("Grouped Data:\n",grouped)

Grouped Data:
          Value
           sum  mean
Category
A           30  15.0
B           40  20.0
C           40  40.0

In [ ]:
pivot=df.pivot_table(index='Category',values='Value',aggfunc=['sum','mean'])
print("\nPivot Table:\n",pivot)

Pivot Table:
            sum  mean
         Value Value
Category
A           30  15.0
B           40  20.0
C           40  40.0